#container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  background: url(imagens/mulher-tattoos-1.jpg);
  background-size: cover;
  background-position: center;
  
}

#boxe-mensagem {
  margin-top: 280px;
  margin-left: 420px;
}

#boxe-mensagem label {
  text-align: center;
  margin-top: 280px;
  margin-left: 250px;
  padding: 25px;
  background-color: rgba(255, 255, 255, 0.600);
  height: 10%;
  border-radius: 20px;
}

