* {
    margin: 0;
    box-sizing: border-box;
}

#container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    background-image: url(imagens/mulher-tattoos-1.jpg);
    background-size: cover;
    background-position: center;
    
}

#esquerdo {
    
}

#caixa-de-texto {
    background-color: rgba(255, 255, 255, 0.600);
    margin: 50px;
    padding: 30px;
    padding-left: 80px;
    padding-right: 80px;
    border-radius: 15px;
}

#caixa-de-texto h1 {
    margin: 20px;
    font-family: sans-serif;
    font-size: 25px;
}

#caixa-de-texto > h2 {
    margin: 20px;
    font-family: sans-serif;
    font-size: 20px;
}

#caixa-de-texto > h4 {
    margin: 20px;
    font-family: sans-serif;
    font-size: 15px;
}

#caixa-de-texto li {
    font-family: sans-serif;
    font-size: 15px;
}
/*
ul {
    font-family: 'Raleway';
    font-weight: 100;
    margin-bottom: 5px;
}*/

#direito {
    background-color: rgba(255, 255, 255, 0.600);
    padding: 105px 50px;
    font-size: 15px;
}

#direito p {
    font-family: sans-serif;
    font-size: 15px;
    text-transform: uppercase;
}

.campo-formulario {
    margin-top: 15px;
}

.campo-formulario label,
.campo-formulario input {
    display: block;
    width: 80%;
    margin-bottom: 5px;
    font-size: 14px;
    font-family: sans-serif;

}

#tipo-tattoo {
    width: 80%%;
}

.caixa-marcacao {
    display: flex;
    width: 100%;
    margin-top: 13px;
    
}

.caixa-esq{
    flex: 1;
    margin-right: 10px;
    font-size: 14px;
    font-family: sans-serif;
}

.caixa-dir{
    flex: 1;
    margin-left: 1px;
    font-size: 14px;
    font-family: sans-serif;
}

.caixa {
    font-family: sans-serif;
    font-size: 13px;
    margin-top: 5px;
}


input[type="checkbox"] {
    display: inline-block;
    width: 15px;
    vertical-align: top;
    margin: auto;
}

input[type="radio"] {
    display: inline-block;
    width: 15px;
    vertical-align: top;
    margin: auto;
}

input[type="submit"] {
    float: right;
}

#botao {
    background-color: #584110;
    color: white;
    padding: 10px 25px;
    font-family: "Poppins";
    font-weight: 500;
    border: 0px;
    margin-top: 20px;
    align-items: center;
    float: right;
    cursor: pointer;
    box-shadow: 2px 2px 2px rgba(92, 92, 92, 0.31);
    
}

#botao:hover {
    background-color: #eed772;
}

@media screen and (max-width: 767px) {
    #container {
        flex-direction: column;
    }

    #caixa-de-texto > h1 {
        font-size: 1.5em;
    }
   
}